@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
:root {
    --clr-sub: #ddd;
    --clr-light-gray: #777;
    --clr-gray: #ddd;
    --clr-main: #373f51;
    --clr-c: #999;
    --clr-b: #dfc2f2;
    --clr-d: #cfb3cd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20px;
    margin: 0;
    font-family: "Poppins";
    color: var(--clr-main);
}

ul,
li {
    padding: 0;
    list-style-type: none;
}

header {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
}

header .main-nav ul li {
    color: var(--clr-c);
    font-size: bold;
    cursor: pointer;
    list-style: none;
    margin-left: 10px;
    transition: 0.3s ease;
    display: inline-block;
    font-family: tahoma;
}

header,
.main-nav ul li {
    color: var(--clr-main);
}

header .social i:first-of-type {
    color: var(--clr-b);
}

header.social i:nth-of-type(2) {
    color: var(--clr-b);
}

header.social i:nth-of-type(3) {
    color: var(--clr-d);
}

.item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}