div {
    
}

main{
    display: grid;
    grid-template-areas: "head head head" "side content content" "foot foot foot";
    grid-template-rows: 50px auto 50px;
}

header {
    grid-area: head;
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

article {
    grid-area: content;
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

aside {
    grid-area: side;
    background-color: #ddd;
    height: 100%;
    width: 100%;
}

footer {
    grid-area: foot;
    background-color: #ddd;
    height: 100%;
    width: 100%;
}