* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #777;
}

body {
    font-family: sans-serif;
}

p{
    font-size: 2rem;
}

.old-container{
width:100%;
max-width: 70rem;
padding: 2rem;
margin: 0 auto;
}

.modern-container{
    width: min(100% - 2rem, 70rem);
    margin-inline: auto;
}

.old-container p{
    color: red;
}

.modern-container p{
 color: wheat;
}