* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists {
    list-style: none;
    font-size: 4rem;
}

.lists li:first-child {
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: red;
    background-color: wheat;
    border-radius: 50%;
}

.lists li:nth-last-child(2) {
    padding-top: 20px;
    margin-bottom: 50px;
    color: #54ff;
    background-color: khaki;
    border-radius: 50%;
}

.lists li:last-child {
    padding-top: 70px;
    margin-bottom: 50px;
    color: rgba(19, 240, 248, 0.8);
    background-color: palevioletred;
    border-radius: 50%;
}