@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
:root {
    --clr-main: #ccc;
    --clr-sub: #eee;
    --clr-one: #abc;
    --clr-two: #777;
    --clr-light: #fff;
}

*,
::after,
::before {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 26px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px dotted var(--clr-one);
}

li {
    border: 1px solid var(--clr-two);
    margin: 0.5em;
    padding: 0.5em;
}

li:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}