footer {
    margin-top: 1.2rem;
}

footer p {
    text-align: center;
}

#d {
    font-size: 1.5rem;
    color: #233233;
}

.cort {
    margin-top: 2.7rem;
    background-color: #233233;
}

.cort a {
    text-decoration: none;
    line-height: 1.6;
    font-size: 0.6em;
}