body {
    font-family: sans-serif;
}

.page {
    background-color: bisque;
}

.page ::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    width: 15px;
    border: 2px solid #333;
    border-radius: 50%;
    bottom: -38px;
    background-color: #fff;
}

.page ::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 100%;
    padding: 4px;
    border: 1px solid black;
    border-radius: 0 0 5px 0;
}

.card:hover {
    background-color: rgb(228, 189, 142);
    cursor: pointer;
}

.card h2 {
    font-weight: normal;
    font-style: normal;
    color: black;
    text-align: center;
}

.card p {
    font-size: 1rem;
    text-shadow: 2px 2px #fff;
    color: #777;
}